.aboutus-section {
  flex-direction: column;
  gap: 5rem;

  &-header {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 3rem;

    @media (max-width: 900px) {
      width: 100%;
      gap: 0rem;
    }

    &-p {
      width: 50%;
    }
  }

  .card-list {
    @include flex-center-between;
    justify-content: space-around;
    align-items: flex-start;
    .card {
      height: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 6rem;
      max-width: 22%;
      padding: 3rem;
      border-radius: 10px;
      font-weight: 300;
      transition: all 0.4s;

      @media (max-width: 800px) {
        max-width: 33%;
      }

      p {
        color: white;
        opacity: 0.95;
        font-size: 1.2rem;
      }

      img {
        width: 20%;
      }

      .card-creator {
        display: flex;
        align-items: center;
        gap: 1rem;

        h3 {
          font-size: 1.8rem;
        }
      }
      &:hover {
        @include bg-gray-gradient;
        cursor: pointer;
      }
    }
  }

  .box {
    @include bg-gray-gradient;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 4rem;
    border-radius: 15px;
    margin: 5rem auto;

    @media (max-width: 650px) {
      flex-direction: column;
      padding: 2rem;
      gap: 4rem;
    }

    div {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @media (max-width: 650px) {
        width: 100%;
        text-align: center;
        gap: 1rem;
      }
    }

    button {
      padding: 2rem 3rem;
    }
  }
}

.sponsers {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 12rem;

  @media (max-width: 900px) {
    gap: 8rem;
  }

  @media (max-width: 900px) {
    gap: 8rem;
  }

  @media (max-width: 500px) {
    gap: 3rem;
  }

  img {
    width: 18rem;

    @media (max-width: 900px) {
      width: 9rem;
    }
  }
}
