.section-2 {
  justify-content: space-around;
  .left {
    img {
      width: 45rem;

      @media (max-width: 800px) {
        width: 30rem;
      }
      @media (max-width: 650) {
        width: 15rem;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 40%;

    @media (max-width: 850px) {
      gap: 2rem;
      max-width: 55%;
    }

    img {
      margin-right: 4rem;

      @media (max-width: 850px) {
        width: 10rem;
      }
    }
  }
}
