.section-3 {
  @media (max-width: 800px) {
    gap: 1rem;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 40%;
    align-items: flex-start;
  }

  .right {
    img {
      width: 50rem;

      @media (max-width: 800px) {
        width: 30rem;
      }
    }
  }
}
