* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.7px;
  color: #fff;
}

html {
  font-size: 62.5%;

  @media (max-width: 1500px) {
    font-size: 55%;
  }

  @media (max-width: 1000px) {
    font-size: 48%;
  }
}
